// Pre-configure all packages with debconf before they are installed.
// If you don't like it, comment it out.
DPkg::Pre-Install-Pkgs {"/usr/sbin/dpkg-preconfigure --apt || true";};

// Configure to use coordinator node as proxy
Acquire::http::Proxy "${httpproxy}";
Acquire::ftp
{
    Proxy "${ftpproxy}";
    ProxyLogin
    {
      "USER $(SITE_USER)@$(SITE)";
      "PASS $(SITE_PASS)";
    }
}
